# Isto é um teste.

## Nível 2

### Nível 3

* teste 1234
* teste 345

1. este é o primeiro item
1. este é o segundo item

**teste de negrito**

*itálico*

In [1]:
# é um comentário
# mais um comentário

print("Hugo Cristo") # isto é uma string
print( 2 ) # isto é um número
print(2*10) # isto é um número (resultado de operação aritmética)
print(TRUE) # isto é um tipo lógico

[1] "Hugo Cristo"
[1] 2
[1] 20
[1] TRUE

Vamos fazer análises de vetores

In [2]:
lista <- c("Jorge", "Juliana", "Gabriela", "Pedro", "Patrick", "Bianca", "Livia", "Heloisa", "Marcos", "Daniel", "Náthally")

# imprime o vetor
print(lista)
# imprime o item 3 do vetor
print(lista[3])
# imprime intervalos do vetor
print(lista[4:8])
print(lista[1:5])

 [1] "Jorge"    "Juliana"  "Gabriela" "Pedro"    "Patrick"  "Bianca"   "Livia"    "Heloisa"  "Marcos"   "Daniel"   "Náthally"
[1] "Gabriela"
[1] "Pedro"   "Patrick" "Bianca"  "Livia"   "Heloisa"
[1] "Jorge"    "Juliana"  "Gabriela" "Pedro"    "Patrick"

In [3]:
numeros <- c(10, 15, 20, 15, 20, 10, 5, 15, 20)
print(numeros)
print(numeros[5])
print(paste(numeros[5],numeros[7],"Hugo"))
# exemplo de uso em relatório de pesquisa
mean(numeros)
print(paste("A média das idades dos participantes foi",mean(numeros),"e a mediana foi",median(numeros)))

[1] 10 15 20 15 20 10  5 15 20
[1] 20
[1] "20 5 Hugo"
[1] "A média das idades dos participantes foi 14.4444444444444 e a mediana foi 15"

In [4]:
# visão explodida da função 
print(
  paste("A média das idades dos participantes foi",
    round(
      mean(numeros),
      2),
    "e a mediana foi",
    median(numeros)
  )
)

[1] "A média das idades dos participantes foi 14.44 e a mediana foi 15"

Para importar dados XLSX, precimos instalar e carregar **pacotes**.

In [5]:
# instalação
install.packages('openxlsx')
# carregamento
library(openxlsx)

Installing package into ‘C:/Users/msn/AppData/Local/R/win-library/4.5’
(as ‘lib’ is unspecified)

trying URL 'https://cran.rstudio.com/bin/windows/contrib/4.5/openxlsx_4.2.8.1.zip'
Content type 'application/zip' length 2496467 bytes (2.4 MB)
downloaded 2.4 MB

package ‘openxlsx’ successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\msn\AppData\Local\Temp\RtmpYr5vx3\downloaded_packages

Warning message:
package ‘openxlsx’ was built under R version 4.5.2

In [6]:

# importa planilha
dados <- read.xlsx("dados.xlsx")

Análise exploratória:

* Estatística descritiva básica
* Níveis das variáveis textuais e numéricas
* Organização dos dados

In [7]:
# resumo da base de dados
summary(dados)

     numero     vinculo
 Min.   : 5   Length:20
 1st Qu.:10   Class :character
 Median :15   Mode  :character
 Mean   :14
 3rd Qu.:20
 Max.   :20

In [8]:
# início da base
head(dados, 5)

  numero    vinculo
1     10 discente M
2     15 discente D
3     20    tecnico
4     15    docente
5     20     posdoc

In [9]:
tail(dados,5)

   numero    vinculo
16     10 discente D
17      5 discente M
18     15    tecnico
19     20    docente
20     10    tecnico

In [10]:
# data.frames têm sintaxe própria
# dados[linha,coluna] = dados$coluna[linha]
print(dados[1,"vinculo"])
print(dados$vinculo[1])

[1] "discente M"
[1] "discente M"

In [11]:
# número de linhas da base
nrow(dados)

[1] 20

In [12]:
# número de colunas
ncol(dados)

[1] 2

In [13]:
# identifica os nomes das colunas
colnames(dados)

[1] "numero"  "vinculo"

Manipulação dos dados importados diretamente no R:

In [14]:
# altera de posdoc para pos-doutorado
dados$vinculo[5] <- "pos-doutorado"
dados$numero[5] <- 99

Exportar dados manipulados:

In [15]:
# exporta arquivo XLSX (pacote openxlsx)
write.xlsx(dados,"dados-modificados.xlsx")

Quais níveis a coluna `vinculo`possui?

In [16]:
# lista níveis únicos do vetor
print(unique(dados$vinculo))
# identifica linhas que apresentam o nível "docente"
substituir <- which(dados$vinculo == "docente")
print(substituir)

[1] "discente M"    "discente D"    "tecnico"       "docente"       "pos-doutorado" "posdoc"
[1]  4  9 14 19

A substituição varre o vetor `substituir` e utiliza seus valores como as linhas da base de dados para saber quais linhas do vetor `vinculo` precisam ser alteradas.

In [17]:
for (item in substituir) {
  print(item)
  # exibe qual é a linha
  print(dados$vinculo[item])
  # altera
  dados$vinculo[item] <- "professor"
  # exibe alteração
  print(dados$vinculo[item])
}

[1] 4
[1] "docente"
[1] "professor"
[1] 9
[1] "docente"
[1] "professor"
[1] 14
[1] "docente"
[1] "professor"
[1] 19
[1] "docente"
[1] "professor"

In [18]:
for (obs in 1:nrow(dados)) {
  print(
    paste("A idade do participante",obs,"é",dados$numero[obs],".")
  )
}

[1] "A idade do participante 1 é 10 ."
[1] "A idade do participante 2 é 15 ."
[1] "A idade do participante 3 é 20 ."
[1] "A idade do participante 4 é 15 ."
[1] "A idade do participante 5 é 99 ."
[1] "A idade do participante 6 é 10 ."
[1] "A idade do participante 7 é 5 ."
[1] "A idade do participante 8 é 15 ."
[1] "A idade do participante 9 é 20 ."
[1] "A idade do participante 10 é 10 ."
[1] "A idade do participante 11 é 10 ."
[1] "A idade do participante 12 é 15 ."
[1] "A idade do participante 13 é 20 ."
[1] "A idade do participante 14 é 15 ."
[1] "A idade do participante 15 é 20 ."
[1] "A idade do participante 16 é 10 ."
[1] "A idade do participante 17 é 5 ."
[1] "A idade do participante 18 é 15 ."
[1] "A idade do participante 19 é 20 ."
[1] "A idade do participante 20 é 10 ."